/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

body {
    background: #e6e6e7;
    color: #46485c;
    font-family: sans-serif;
}
.login {
    text-align: center;
    width: 250px;
    position: absolute;
    top: 70%;
    left: 50%;
    margin: -184px 0px 0px -155px;
    background: rgba(0, 0, 0, 0.2);
    padding: 20px 30px 20px 30px;
    border-radius: 5px;
    box-shadow: 0px 1px 0px rgba(0,0,0,0.3),inset 0px 1px 0px rgba(255,255,255,0.07)
}
.login h2, h3{
    color: #46485c;
    /* font-size: 15px; */
    font-weight: 550;
    text-align: center;
    margin-bottom: 5px;
}
.login button{
    font-size: 18px;
    font-weight: 550;
    background: rgb(144, 186, 31);
    border: 1;
    border-color: rgb(144, 186, 31);
    width: 250px;
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}
#logo{
    background: url('images/avanttic_logo.svg');
}
.logo{
    margin-top: 20px;
    text-align:center;
}
.foto{
    width: 80px;
    height: 80px;
    display: block;
    padding-top: 24px;
    padding-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}
.profile-name {
    font-size: 1.514rem;
    text-align: center;
    color: #ffffff;
    margin: 0;
    padding-bottom: 30px;
}
.app-name {
    padding-top: 40px;
    color: #979899;
}

li h3{
    text-align: initial;
}
#loading_layer{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.7);
    z-index: 10000;
    height: 100vh;
    width: 100vw;
}
    
#loading_layer .content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: black;
}
.navlist{
    text-align: right;
}